/*@font-face {*/
/*    font-family: OpenSans-Regular;*/
/*    src: url("/public/fonts/OpenSans-Regular.ttf");*/
/*}*/

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:focus {

    background-color: unset;
    text-decoration : underline;
}

.sidebar-logout {
    margin-top: 80px;
    font-size : 18px;

}

.p_0 {
    padding-left : 0px !important;
    padding-right: 0px !important;
}

.sidebar-logout>a {
    text-decoration: none;
    color          : black;
}

.profile-upload-photo {
    margin-top : 50px;
    margin-left: 30px;
}

.profile-image {
    padding-left: 40px;
}

.profile-image>img {
    border-radius: 50%;
}

.profile-image-bottom-line {
    display        : flex;
    justify-content: center;
    align-content  : center;
    margin-top     : 30px;
    margin-bottom  : 30px;
}

.status {
    display        : flex;
    justify-content: center;
    align-content  : center;
    /*margin-top   : 30px;*/
    margin-bottom  : 30px;
}

.dashboard-searchbar-bottom-line {
    display        : flex;
    justify-content: center;
    align-content  : center;
    margin-top     : 0px;
    margin-bottom  : 30px;
}

.profile-input-field {
    padding-left : 30px;
    margin-bottom: 30px;
}

.profile-save-btn {
    padding         : 15px 40px;
    background-color: #C9C97E;
    color           : white;
    font-size       : 16px;
    border          : white;
    border-radius   : 10px;
}

/*.profile-draft-btn {*/
/*    padding         : 17px 40px;*/
/*    background-color: white;*/
/*    color           : #C9C97E;*/
/*    font-size       : 16px;*/
/*    border          : 1px solid #C9C97E;*/
/*    border-radius   : 10px;*/
/*}*/

.profile-draft-btn {
    padding         : 17px 40px;
    background-color: white;
    color           : #122B83;
    font-size       : 16px;
    border          : 1px solid #122B83;
    border-radius   : 10px;
}

.profile-draft-btn:hover {
    text-decoration: none;
    color          : #122B83;
}

.prof-delete-acc {
    padding-left : 80px;
    margin-bottom: 40%;
    margin-top   : 60px;
}

.prof-delete-acc-text {
    font-size      : 20px;
    color          : black;
    text-decoration: underline;
}

.prof-delete-acc-text:hover {
    color: black;
}

.search-input {
    padding      : 6px 5px;
    border       : none;
    /*margin-left: -2px;*/
}

.search-input:focus {
    border : none;
    outline: none;
}

.search-input:focus {
    border: none;
}

.search-btn {
    background-color: #65151E;
    border-radius   : 10px 0px 0px 10px;
    padding-left    : 15px;
    padding-right   : 20px;
    padding-top     : 8px;
    padding-bottom  : 8px;
    color           : white;
}

.chat-send-btn {
    background-color: black;
    border-radius   : 0px 10px 10px 0px;
    cursor          : pointer;
    padding-left    : 15px;
    padding-right   : 20px;
    padding-top     : 8px;
    padding-bottom  : 8px;
    color           : white;
}

.std-chat {
    text-align: end;
}

.std-chat>span {
    font-size  : 20px;
    font-weight: bold
}

.std-chat>p {
    margin-top     : 10px;
    /*padding-right: 60px;*/
}

.teach-chat {
    text-align: start;
}

.teach-chat>span {
    font-size  : 20px;
    font-weight: bold;
}

.teach-chat>p {
    margin-top     : 10px;
    /*padding-right: 60px;*/
}

.chatBox {
    margin-top     : 50px;
    display        : flex;
    justify-content: end;
    /*border       : 1px solid black*/
}

.text-box {
    border : none;
    outline: none;
}

.clipper-btn {
    left            : 0px;
    position        : absolute;
    text-align      : start;
    border          : none;
    background-color: unset;
}

.clipper-btn:hover {
    border: none;
}

.fa-paperclip {
    margin-top    : -12px;
    transform     : rotate(44deg) scaleX(-1);
    vertical-align: bottom;
}

.payment {
    margin-top     : 40px;
    display        : flex;
    justify-content: center
}

.free-plan {
    background-color: #C9C97E;
    color           : white;
    width           : 120px;
    height          : 120px;
    display         : block;
}

.basic-plan {
    display        : flex;
    justify-content: center;
    margin-bottom  : 31px;
}

.basic-plan>p {
    background-color: #C9C97E;
    color           : white;
    width           : 130px;
    height          : 130px;
    display         : block;
    font-size       : 18px;
    font-weight     : bold;
    /*border-color  : #C9C97E;*/
    border          : 12px solid white;
    border-radius   : 50%;
    box-shadow      : #c5c5a5;
    padding         : 30px;
}

.enterprice-plan {
    display        : flex;
    justify-content: center;
    margin-bottom  : 31px;
}

.enterprice-plan>p {
    background-color: #C9C97E;
    color           : white;
    width           : 130px;
    height          : 130px;
    display         : block;
    font-size       : 18px;
    font-weight     : bold;
    border          : 12px solid white;
    border-radius   : 50%;
    padding         : 30px;
    outline         : 12px solid #f3eded;
}

.posted_note span {
    white-space: unset !important;
}

.portfolio {
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    background-color: #ffffff;
    width           : 280px;
    height          : 50px;
    border          : 1px solid #ccc;
    padding-top     : 4px;
}

.portfolio input[type="radio"] {
    appearance: none;
    display   : none;
}

.portfolio label {
    font-size      : medium;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 80px;
    height         : 40px;
    text-align     : center;
    transition     : linear 0.3s;
    color          : #6e6e6edd;
    padding-top    : 6px;
}

.portfolio input[type="radio"]:checked+label {
    background-color: #C8C97D;
    color           : #000000;
    font-weight     : 500;
    font-size       : medium;
    transition      : 0.3s;
}

.top-select-timeline {
    color      : #6e6e6edd;
    font-size  : medium;
    font-weight: bold;
    height     : 50px;
}

.add-to-cart {
    padding: 10px;
    display: inline-block
}

.add-to-cart>a {
    text-decoration: none;
    color          : black
}

.add-to-cart>a>i {
    background-color: #C9C97E;
    padding         : 10px;
}


.add-cart-btn {
    padding         : 15px 50px;
    background-color: #318215;
    color           : white;
    border-radius   : 10px;
    text-decoration : none;
}

button.btn.dropdown-toggle.nav-img-btn {
    outline: none;
    border : none;
}

.dropdown-menu>li>a:hover {
    background-color: #C9C97E;
    color           : white;
}

.navbar-default .navbar-nav>li>a {
    color: #f1f1f1;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #f1f1f1;
}

.checked {
    color: #C9C97E;
}

.tdb-card {
    text-align   : center;
    box-shadow   : 0px 2px 25px rgba(0, 0, 0, .25);
    padding-top  : 20px;
    border-radius: 10px;
    height: 400px;
}

.course_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    height: 400px;
}

.course-cover-plus {
    padding         : 25px 45px;
    background-color: #e9e4e4;
    border-radius   : 10px;
    font-size       : 24px;
}

.add-new-btn {
    background-color: #C9C97E;
    color           : black;
    border-radius   : 3px;
    text-align      : center;
    padding-top     : 2px;
    height          : 24px;
    width           : 40px;
}

.add-new-btn>a {
    color          : black;
    text-decoration: none;
    border         : none
}

.course-search-btn {
    background-color: black;
    border-radius   : 10px 0px 0px 10px;
    padding-left    : 15px;
    padding-right   : 20px;
    padding-top     : 23px;
    padding-bottom  : 10px;
    color           : white;
}

.dd {
    display: none;
}

.course-time-btn {
    background-color: black;
    border-radius   : 10px 0px 0px 10px;
    padding-left    : 19px;
    padding-right   : 16px;
    padding-top     : 7px;
    padding-bottom  : 5px;
    color           : white;
}

@media (min-width: 235px) and (max-width: 766px) {
    .hist_list_mrgn_btm {
        margin-bottom: 5rem;
        text-align   : center;
    }

}

@media (max-width: 992px) {
    .mystudent_teach {
        display        : flex;
        justify-content: center;
    }

}

@media (min-width: 235px) and (max-width: 465px) {
    .mystudent_teach:before {
        display: none;
        content: " ";
    }

    :after,
    :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing   : border-box;
        box-sizing        : border-box;
    }

    .mystudent_teach {
        display              : grid !important;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows   : repeat(3, 1fr);
        justify-content      : center;
    }

}

.payment-home-btn {
    padding         : 15px 50px;
    background-color: #C9C97E;
    color           : white;
    font-weight     : bold;
    border-radius   : 8px;
    text-decoration : none;
}

.account-upgrade {
    padding         : 15px 50px;
    background-color: #318215;
    color           : white;
    font-weight     : bold;
    border-radius   : 8px;
    text-decoration : none;
    border          : none;
    outline         : none;
}

.banner-one {
    background         : url(../images/teacher-heaher1.png);
    min-height         : 600px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.banner-three {
    background         : url(../images/teacher-header.png);
    min-height         : 600px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.banner-four {
    background         : url(../images/teacher-header2.png);
    min-height         : 600px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.banner-five {
    background         : url(../images/student-profile-header.png);
    min-height         : 600px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.add-new-btn {
    background-color: #C9C97E;
    color           : black;
    border-radius   : 3px;
    text-align      : center;
    padding-top     : 2px;
    height          : 24px;
    width           : 40px;
}

.add-new-btn>a {
    color          : black;
    text-decoration: none;
    border         : none
}

.teacher_chat img {
    width: 30px;
}

@media (min-width: 235px) and (max-width: 992px) {
    .main-header {
        display: none;
    }

    .abc {
        margin         : 1rem;
        width          : 30%;
        /* display     : flex; */
        justify-content: center;
        margin         : auto
    }

    .active-header2 {
        background        : #2C3250;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow   : 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow        : 0 1px 5px rgba(0, 0, 0, 0.25);
    }

    .res_nav {
        display : block !important;
        position: fixed;
        top     : 0%;
        right   : 1rem;
        z-index : 50000000000;
    }

    .tech_list img{
        width:100%!important;
    }
    .teacher_chat > .col-lg-12 > .row > .col-xs-2{
        padding-right: 0px!important;
    }
    .teacher_chat > .col-lg-12 > .row > .col-xs-10{
        padding-top: 4%!important;
    }

    .teacher_chat > .col-lg-12{
        padding-bottom:2%!important ;
    }
    .teacher_chat > .right_part {
        margin-left: 2%!important;
        margin-right: 2%!important;
    }


    .profile-save-btn{
        padding: 10px 30px;
    }

    .profile-draft-btn{
        padding: 10px 30px;

    }

    .pricing .price h2 {
        width  : 90px;
        height : 88px;
        outline: 5px solid #fff;
    }

    .enterprice-plan>p,
    .basic-plan>p {

        width    : 100px !important;
        height   : 100px !important;
        font-size: 12px !important;

        border : 8px solid white !important;
        padding: 27px !important;
    }

   .list-unstyled .plan_list img{
    width: 16px !important;
    height:16px !important;
   }

    .add_new_stu {
        justify-content: center !important;
        align-items    : center !important;
    }
    .profile-input-field {
        padding-left : unset !important;
        margin-bottom: 30px;
    }
    .side_bar_res {
        display: none;
    }

    .create_new_btn {
        display        : flex;
        align-items    : center;
        justify-content: center;
    }

    /* .create_new_btn p{

    } */

    .class_learn {
        text-align       : center !important;
        padding-left     : unset !important;
        display          : flex !important;
        align-items      : center !important;
        flex-direction   : column !important;
        /* padding-left  : 40px !important; */
        padding          : 30px 0;

    }

    .class_learn p {
        font-size: 18px !important;

    }
   .add_new_jus_cen{
    justify-content: center !important;
   }
    .text_center {
        text-align: center !important;
    }

    .search_field_stu {
        display        : flex;
        align-items    : center;
        justify-content: center;
    }

    .dashborad_haeding {
        padding-left: unset !important;
    }

    .add_files_teacher {
        display              : grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        align-items          : center !important;
        justify-content      : end !important;
    }

    /* .dashbord_note_stu {} */

    .pl_0 {
        padding-left: unset !important;
    }

    .pr_0 {
        padding-right: unset !important;
    }

    .class_learn img {
        width: 70% !important;
    }

    .res_nav2 {
        display: block !important;

        z-index: 50000000000;
    }
}



.res_nav {
    background-color: none;
    display         : none;
}

.res_nav2 {
    background-color: none;
    display         : none;
}

.fa-xmark {
    display: none;
}

.pagini>.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #c9c97e;
    border-color: #c9c97e;
}

.pagination>li>a{
    color: #c9c97e;
    border-radius: 0px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: #c9c97e;
}

.pagini{
    text-align: end;
}

.card-style{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; padding: 10px;
}

.rating-btn{
    margin-top: 20px;
    background-color: #C9C97E;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

.rating-btn:hover{
    color: white;
}

.rating-btn:focus{
    color: white;
}

.card-desgn{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.comment-scroll {
    max-height: 390px;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px
}

::-webkit-scrollbar-track-piece:vertical {
    background: transparent;
}

::-webkit-scrollbar-track-piece:horizontal {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 50px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-corner {
    background-color: green;
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 50px;
}

.course_doc_img{
    width: 200px;
    height: 135px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid grey;
    background-color: grey;
}

.dropzone-inputt{
    border: 0.5px solid #cdc4c4;
    border-radius: 2%;
    padding: 20px;
    text-align: center;
}



