.about_p {
    font-size  : 22px;
    font-family: sans-serif;
}

.ml_t {
    margin-left  : 2rem;
    margin-bottom: 3rem;
}

.fa-xmark {
    display: none;
}

.seatch_his_center {
    text-align: end;
}

.img_ab {
    width     : 100%;
    margin-top: 13%;
}

.col-centered {
    float     : none;
    margin    : 0 auto;
    text-align: left;
}

.dis_flex {
    display              : grid;
    grid-template-columns: 64%;
    justify-content      : center !important;
}

.main_desn {
    display        : flex;
    justify-content: space-evenly;
}

.field_label {
    font-size  : 20px;
    margin-top : 12px;
    font-family: sans-serif
}

.glyphicon {
    font-size: 23px;
}

.forg_m {
    margin-top : 28px;
    font-family: sans-serif;
}

.sub_btn {
    margin-top: 38px;
    width     : 66%;
    font-size : 21px;
    background: #C9C97E;
    color     : white
}


.right_dot {
    text-align  : right;
    margin-top  : 47%;
    margin-right: -4%;
}

.blog_heading {
    color      : #151575 !important;
    font-weight: 600;
    font-size  : 33px;
    font-family: sans-serif;
}

.img_width {
    width: 100%;
}

.btn_cs {
    margin-top: 30px;
}

.under-line2 {
    font-family: sans-serif;
    color      : #2C3250;
    font-weight: bold;
}

.img_width2 {
    width: 100% !important;
}

.img_mrg {
    margin: 0px !important;
}

.tox {
    width: 100% !important;
}

.img_blog_side {
    width : 100%;
    height: 135px;
}

.main_head {
    display         : flex;
    /* align-content: space-between; */
    justify-content : space-around;
}

.img_blog_side2 {
    height    : 234px !important;
    margin-top: 9rem;
}

.profile_col {
    padding-left: 22px !important;
}

.contact_cancel {
    background : transparent !important;
    color      : #C7C87C !important;
    border     : 2px solid #C7C87C !important;
    margin-left: 2% !important;
}

.next-project2 {
    margin-top   : 10rem;
    margin-bottom: 7rem;
}

.heading_contact {
    padding-bottom: 1%;
    color         : white;
}

.kids_sec {
    background         : url(../images/46.png);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    height             : 78rem;
    margin-bottom      : 3%;
}


.card.middle-card2 {
    background  : rgb(146 135 135 / 15%);
    box-shadow  : 4px 3px 9px rgb(0 0 0 / 15%);
    border-left : 5px solid rgb(0 0 0 / 15%);
    border-right: 5px solid rgb(0 0 0 / 15%);
    border-top  : 1px solid rgb(0 0 0 / 15%);
    color       : black;
}

.middle-card2 strong {
    color: black;
}




.inrSec {
    background-color: white;
    padding-top     : 1rem;
    position        : relative;
    top             : 9rem;
    z-index         : 10;
}

.inrSec h1 {
    font-size: 6rem;
}

.v_pad_t {
    padding-top: 30px !important;
}

.c_cont {
    margin: 6rem;
}

.doble_img {
    text-align  : right;
    margin-right: 15rem;
    margin-top  : -50px;
    position    : relative;
    top         : -7rem;
}

.inrSec p {
    font-size: 2rem;
}

.bx {
    background-color: white;
}

.r_p_img {
    text-align: right;
    position  : relative;
    top       : 16rem;
    left      : 7%;
}

.s_img2 {
    position   : relative;
    top        : -25px;
    /* left    : 0px; */
    margin-left: 15px;
}

.row_width {
    width: 100% !important;
}

.s_img {
    position   : relative;
    top        : -216px;
    /* left    : 0px; */
    margin-left: 15px;
}

.btn_ad_style {
    margin-bottom: 2rem;
    font-size    : 20px;
    padding-left : 20px;
    padding-right: 20px;
    font-family  : sans-serif;
    font-weight  : bold;
}

.box_additional {
    margin-top: -50rem;
}

.cont_sub_f {
    width       : 70% !important;
    padding-left: 3%;
}

.centered {
    position : absolute;
    top      : 30%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.centered {
    position : absolute;
    top      : 30%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.m-0 {
    margin: 0 !important;
}

.w-100 {
    width: 100% !important;
}

/*.row {*/
/*    width: 100% !important;*/


/*}*/

.tmp {
    display: none;
}

.btn_uper {
    margin-top: -8%;
}

.con {
    padding: 10%;
}

.glyp {
    font-size       : 12px;
    background-color: #cdcd4f;
    padding-left    : 7px;
    padding-right   : 7px;
    margin-right    : 0;
    padding-top     : 10px;
    padding-bottom  : 10px;
}

.pt_b {
    margin-top   : 23px !important;
    margin       : unset;
    margin-bottom: 23px !important;
}

.bLog_b_head {
    font-weight: 700;
    font-family: sans-serif !important;
}

.b_heading_b {
    font-weight: bold;
    font-family: sans-serif;
    color      : #cdcd4f;
}

.next_he {
    font-size: 22px !important;
}

.common_blog_color {
    color: #050576;
}

.b_side_he {
    margin-top   : 0;
    color        : #050576;
    margin-bottom: 5px;
    font-size    : 22px;
    padding      : 5.5px;
    font-family  : sans-serif !important;
    font-weight  : bold;
}

.cont {
    margin: 170px;
}

.r_m_space {
    margin-top : 35px;
    line-height: 32px;
    font-weight: 400;
    font-family: sans-serif !important;
}

.activate {
    background-color: white !important;
    color           : #c9c97e !important;
    border          : 2px solid #C9C97E !important;
}

.pagi_style {
    background-color: #c9c97e !important;
    color           : white !important
}

.pagi_mtMb {
    text-align   : right;
    margin-right : 20%;
    margin-top   : 3%;
    margin-bottom: 5%;
}

.p_con {
    padding   : 10px;
    margin-top: 17px;
}

.mt_blog_side {
    margin-top   : 1.5%;
    padding-right: 0;
}

.pos_l {
    position: absolute;
    top     : 535px;
    left    : -11%;
}

.c_w {
    height: 313px;
}

.cart_b {
    font-size    : 30px !important;
    padding-left : 35px !important;
    padding-right: 35px !important;
}

.m_b_cart {
    margin-bottom: 5%;
}

.img_side {
    width: 50px;
}

.mt_r {
    margin-top: 3%;
}

.related_l_r_mr {
    margin-left : 9%;
    margin-right: 9%;
}

.demo_b {
    background-color: #C9C97E;
    position        : absolute;
    right           : 0.0%;
    font-size       : 19px;
    color           : white;
    top             : 48px;
    padding-left    : 30px;
    padding-top     : 2px;
    height          : 34px;
    width           : 156px;
    border-radius   : 20px 0px 0px 20px;
    border-right    : 5px solid #9D9D6B;
}



.reg_font {
    font-family: sans-serif;
}

.trail_space {
    font-size  : 33px;
    margin     : 40px 0;
    font-family: sans-serif;
}

.pp {
    text-align: right;
    margin-top: 20px;
}

@media (min-width: 235px) and (max-width: 765px) {
    .pp {
        text-align: left;
        margin-top: 25px;
    }

    .m_right {
        margin-right: 52px !important;
    }

    p {
        font-size  : 2rem !important;
        line-height: 3rem !important;
    }

    .text-design {
        font-size: 2rem !important;

    }
}

@media (min-width: 235px) and (max-width: 992px) {
    .main-header {
        display: none;
    }

    .dis_footer {
        display        : flex !important;
        flex-direction : column !important;
        justify-content: center !important;
        align-items    : center !important;
    }

    .navbar-nav {
        display       : flex;
        flex-direction: column;
    }

    .text-end-btn {
        text-align: end !important;
    }

    .active-header2 {
        background        : #2C3250;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow   : 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow        : 0 1px 5px rgba(0, 0, 0, 0.25);
    }

    .res_nav {
        display : block !important;
        position: fixed;
        top     : 0%;
        right   : 2rem;
        z-index : 50000000000;
    }

    .res_nav2 {
        display: block !important;

        z-index: 50000000000;
    }

    .img_blog_side2 {
        height: 280px !important;
    }





    .class_learn img {
        width: 70% !important;
    }

}

.res_nav {
    background-color: none;
    display         : none;
}

.res_nav2 {
    background-color: none;
    display         : none;
}

@media (min-width: 235px) and (max-width: 762px) {
    .m_q_left_space {
        padding-left: 33px;
    }

    .padding_4_col2 {
        padding-left: 8rem !important;
    }

    .pos_l {
        display: none;
    }

    .freeBtn {
        font-size: 12px !important;
    }

    .padding_4_col3 {
        margin-left: 8rem !important;
    }

    .c_w {
        height: 175px !important;
    }

    .img_blog_side2 {
        height: 250px !important;
    }

}

.padding_4_col {
    padding-left: 8rem !important;
}

.s_img2 {
    position   : relative;
    top        : 1px !important;
    left       : 9px !important;
    margin-left: 15px;
    display    : inline-block;
}

.img_blog_side {
    height: 150px;
}

.next-project3 .next-project2 {
    position: relative;
}

@media (min-width: 235px) and (max-width: 762px) {
    .m_q_left_space {
        padding-left: 33px;
    }

    .padding_4_col2 {
        padding-left: 7rem !important;
    }

    .demo_b {
        top         : 90px;
        padding-left: 22px;
        padding-top : 2px;
        height      : 33px;
        width       : 97px;

    }

    .pos_l {
        display: none;
    }

    .img_side {
        display: none;
    }

    .on_resp {
        font-size: 3rem !important;
    }

    .on_resp2 {
        font-size: 2rem !important;
    }

    .freeBtn2 {
        width: 50% !important;
    }

    .freeBtn {
        font-size: 11px !important;
    }

    .padding_4_col3 {
        margin-left: 8rem !important;
    }

    .c_w {
        height: 175px !important;
    }

    .resp_onLogin {
        display: none;
    }

    .header-dots-img {
        display: none;
    }

    .log_pad {
        /* padding: 4rem; */
        padding-left: 90px;
    }

    h1 {
        font-size: 30px !important;
    }
}

.padding_4_col {
    padding-left: 8rem;
}

@media (max-width: 370px) {
    .t_mgn {
        margin-top: 15rem !important;
    }
}

/* @media (min-width: 993px) and (max-width: 4000px) {
    .main-header{
        display: block;
    }
} */
